.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.btn {
    padding: 5px 15px;
    border: 2px solid transparent;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 16px;
    text-decoration: none;
    color: inherit;
}

main {
    width: 70%;
    margin-left: 15%;
}

.btn-red {
    background-color: crimson;
    color: white;
}

.form-connect {
    margin-bottom: 25px;
}

.form-connect .form-group {
    width: 100%;
    margin-bottom: 10px;
}

.form-group input:not(input[type="submit"]), .form-group select {
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    padding: 5px 15px;
    border: 1px solid black;
    outline: none;
}

.right {
    float: right;
}

.user-table table {
    width: 100%;
}

.user-table thead td {
    font-weight: bold;
    font-size: 20px;
}

.user-table tbody td {
    font-weight: normal;
    font-size: 18px;
}

.under-the-nav {
    padding-top: 80px;
}

.ais_red {
    background-color: crimson;
    border-radius: 4px;
    padding-top: 1px;
    padding-left: 4px;
    padding-bottom: 1px;
    padding-right: 4px;
}

body {
    background-color: whitesmoke;
}

.outlined {
    background-color: #dc143c40;
    color: crimson;
}

#iss_history {
    height: 100px !important;
    line-height: 20px;
    overflow: hidden;
}

main {
    padding: 50px 25px 75px 25px;
}

img {
    width: 20%;
    margin: auto;
    height: auto;
    display: block;
}

.flex {
    display: flex;
    justify-content: space-around;
    height: 100px;
    padding: 10px 25px;
}